.container2{
  float: right;
  margin-right: 20px;
}

.container1{
  float: left;
  margin-left: 20px;
}
span:hover{
  background-color: lightblue;
  border-style: solid;
}
span{
  background-color: blue;
}
